::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

a {
  color: $titleColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}