::selection {
  background: lighten($brand, 20%); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: lighten($brand, 10%); /* Gecko Browsers */
}

a {
  color: $titleColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}